<%-include("header")%>
<main class="todocorner-main">
    <div style="display:flex; flex-direction:column;">
    <img src="https://cdnl.iconscout.com/lottie/premium/thumb/404-sink-8541178-6765405.gif" alt="">
    <a href="/homePage"><button  class="todocorner-button " style="width: 6rem;">Back to homepage</button></a> 
     </div>
</main>
<%-include("footer")%>