
        <footer class="todocorner-footer">
            <hr class="line-footer">
            <div class="todo-footer">
            <a href="/aboutUs">About us</a>
            <a href="#">Blog</a>
            <a href="/contactUs">Contact us</a>
        </div>
            <p>copyrighted by TODOcorner</p>
        </footer>
    </div>
</body>
</html>